<header class="usa-header usa-header--basic">
    <div class="usa-nav-container" style="align-items: center;">
        <div class="usa-navbar">
            <div class="usa-logo" id="-logo" style="margin: 0;">
                <em class="usa-logo__text"><a href="/" title="Home">DASH-Board</a></em>
            </div>
            <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <button type="button" class="usa-nav__close">
                <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>
            <ul class="usa-nav__primary usa-accordion" style="margin: 0;">
                links_value
            </ul>
        </nav>
    </div>
</header>

